@media (min-width: 576px) and (max-width: 991px) {
  .navbar .container {
      max-width: 100%;
  }
}

.justify-content-end button.btn-primary {
  padding: 10px 23px;
}

.justify-content-end button.btn-secondary {
  color: #6e4ef7;
  padding: 10px 15px;
  border: 1px solid #6e4ef7;
}