@media (min-width: 576px) and (max-width: 991px) {
  .navbar .container {
    max-width: 100%;
  }
}

.form-inline button.btn-primary {
  padding: 9px 23px;
}

.form-inline button.btn-outline-primary,
.form-inline button.btn-link {
  padding: 10px 15px;
}

.navbar .navbar-brand img {
  width: 150px;
}

@media screen and (max-width: 991px) {
  .navbar .navbar-brand img {
    width: 120px;
  }
}
